<% provide(:description, 'Sweet Gems is a bakery in Houston, Texas that specializes in creating
amazing sweets that incorporate our passion for geology.') %>
<% provide(:title, 'Macarons, Cupcakes, and More! | Houston, TX') %>
<div id="home-carousel">
  <div id="heading-carousel" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#heading-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#heading-carousel" data-slide-to="1"></li>
      <li data-target="#heading-carousel" data-slide-to="2"></li>
      <li data-target="#heading-carousel" data-slide-to="3"></li>
      <li data-target="#heading-carousel" data-slide-to="4"></li>
      <li data-target="#heading-carousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag("blueberrycheesecake.jpg", :alt => "Blueberry Cheesecake Macarons!") %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag("pumpkincupcakes.jpg", :alt => "Sweet Gems loves Pumpkin Cupcakes!") %>
      </div>
      <div class="item">
        <%= image_tag("fruitypebbles.jpg", :alt => "Fruity Pebble Macarons") %>
      </div>
      <div class="item">
        <%= image_tag("blueberrytop.jpg", :alt => "Blueberry Macarons") %>
      </div>
      <div class="item">
        <%= image_tag("geodecake.jpg", :alt => "Beautiful Geode Wedding Cake!") %>
      </div>
      <div class="item">
        <%= image_tag("mermaid.jpg", :alt => "Specially Ordered Mermaid Macarons!") %>
      </div>
    </div>
    <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
    <!--  <span class="icon-prev" aria-hidden="true"></span>-->
    <!--  <span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
    <!--  <span class="icon-next" aria-hidden="true"></span>-->
    <!--  <span class="sr-only">Next</span>-->
    <!--</a>-->
  </div>
</div>
