<% provide(:title, 'Menu') %>
<div class="menu-header">
  <h1>Fantastic Flavors</h1>
  <p>Sweet Gems offers a variety of flavors which can be made into either French
  macarons or cupcakes! Each of the flavors is named after an interesting piece of
  geology that it reminds us of. With each order, you will recieve a note card
  about the flavor that you chose and the geology behind its name! <a href="/new-order">Order now!</a></p>
  <div class="row prices">
    <p class="col-lg-6"><b>French Macarons: $25/dozen</b></p>
    <p class="col-lg-6"><b>Cupcakes: $22/dozen</b></p>    
  </div>
</div>
<div class="monthly-flavor">
  <%= image_tag("FlavorOfTheMonth_Web.jpg", :alt => "Flavor of the Month: Pumpkin Pie") %>
</div>
<div class="menu-content">
  <div class="menu">
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <%= image_tag("rosemenu.jpg", :alt => "Rosé") %>
        <h2>Flavor of the Month</h2>
        <p>Rosé</p>    
      </div>
    </div> 
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <%= image_tag("vanillamenu.jpg", :alt => "Vanilla") %>
        <h2> Muscovite Mica </h2>
        <p>Vanilla</p>        
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <%= image_tag("fruitypebblemenu.jpg", :alt => "Fruity Pebbles") %>
        <h2>Calcite</h2>
        <p>Fruity Pebbles</p>        
      </div>
    </div>
    <div class="clearfix visible-md"></div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <%= image_tag("cookiesmenu.jpg", :alt => "Cookies and Cream") %>
        <h2>Diorite</h2>
        <p>Cookies and Cream</p>       
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <%= image_tag("caramelmenu.jpg", :alt => "Salted Caramel") %>
        <h2>Halite</h2>
        <p>Salted Caramel</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <%= image_tag("snickerdoodlemenu.jpg", :alt => "Snickerdoodle") %>
        <h2>Sandstone</h2>
        <p>Snickerdoodle</p>       
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="clearfix visible-md"></div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Biotite Mica</h2>
        <p>Chocolate</p>        
      </div>
    </div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Pyrite</h2>
        <p>Cinnamon Toast Crunch</p>       
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Fluorite</h2>
        <p>White Chocolate</p>       
      </div>
    </div>
    <div class="clearfix visible-md"></div>
    <div class="col-xs-6 col-md-4">
      <div class="menu-item">
        <h2>Magnetite</h2>
        <p>Chocolate Hazelnut</p>       
      </div>
    </div>
  </div>
  <a href="/new-order" class="btn btn-lg order-btn">Order Now!</a>
</div>

<div class="menu-photos">

</div>
