<div class="monthly-flavor">
  <%= image_tag("FlavorOfTheMonth_Web.jpg", :alt => "Flavor of the Month: Lemon Olive Oil") %>
</div>
<div class="menu-content">
  <h1 class="menu-header">Flavors</h1>
  <div class="menu">
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Muscovite Mica</h2>
        <p>Vanilla</p>        
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Biotite Mica</h2>
        <p>Chocolate</p>        
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Calcite</h2>
        <p>Fruity Pebbles</p>        
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Pyrite</h2>
        <p>Cinnamon Toast Crunch</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Diorite</h2>
        <p>Cookies and Cream</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Halite</h2>
        <p>Salted Caramel</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Fluorite</h2>
        <p>White Chocolate</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Sandstone</h2>
        <p>Snickerdoodle</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Magnetite</h2>
        <p>Chocolate Hazelnut</p>       
      </div>
    </div>
    <div class="col-xs-6 col-md-6">
      <div class="menu-item">
        <h2>Flavor of the Month</h2>
        <p>Pumpkin Pie</p>    
      </div>
    </div> 
  </div>
</div>
<div class="menu-photos">
  <div class="photo col-xs-4">
    <%= image_tag("blueberry-square.jpg", :alt => "Blueberry") %>
  </div>
  <div class="photo col-xs-4">
    <%= image_tag("pebble-square.jpg", :alt => "Fruity Pebbles") %>
  </div>
  <div class="photo col-xs-4">
    <%= image_tag("caramel-square.jpg", :alt => "Salted Caramel") %>
  </div>
</div>
<div class="price col-xs-6">
  <h1>Macarons</h1>
  <p>$25/dozen</p>
</div>
<div class="price col-xs-6">
  <h1>Cupcakes</h1>
  <p>$22/dozen</p>
</div>
<div class = "disclaimers">
  <p>Email Meg at <%= link_to "meg@sweetgemshtx.com", "mailto:meg@sweetgemshtx.com" %> to order now!</p>
  <p>Other flavors and special orders by request!</p>
  <p class="small">*Minimum one dozen per flavor*</p>
  <p class="small">*Orders require five days notice*</p>
  <p class="small">*Must be in the Houston area*</p>
</div>
<div class = "email-signup">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: menu_path) do |f| %>
      <%= render 'shared/error_messages' %>
      
      <%= f.email_field :email, class: 'form-field', :placeholder => "your@email.com" %>
      <%= f.submit "Join", class: "btn btn-lg" %>
    <% end %>
    <p>Join our mailing list to keep up to date with our latest flavors and news!</p>
  </div>
</div>