<% provide(:title, 'Edit Order') %>
<% provide(:button_text, 'Save changes') %>

<div class="title"><h1>Update order</h1></div>
<div class="row order-form">
  <div class="col-sm-6 col-sm-offset-3">
    <%= form_for(@order) do |f| %>
      <%= render 'shared/order_error_messages' %>
      
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Your Name", class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "your@email.com", class: 'form-control' %>
      
      <%= f.label :phone %>
      <%= f.telephone_field :phone, placeholder: "555-555-5555", class: 'form-control' %>
      
      <%= f.label "Order" %>
      <%= f.text_area :details, size: "50x10", placeholder: "Describe your order here! We will email you to confirm all of the details.", class: 'form-control' %>
    
      <%= f.label "Complete" %>
      <%= f.check_box :is_completed %>
      
      <%= f.submit yield(:button_text), class: "btn" %>
    <% end %>
  </div>
</div>