<% provide(:title, 'Confirmation') %>

<div class="col-sm-6 col-sm-offset-3" >
  <div class="title"><h1>Order Details</h1></div>
  <p><strong>Name: </strong><%= @order.name %></p>
  <p><strong>Email: </strong><%= @order.email %></p> 
  <p><strong>Phone Number: </strong><%= @order.phone %></p>
  <p><strong>Details: </strong><%= @order.details %></p>
  <p><%= link_to 'edit', edit_order_path(@order) %> |
  <%= link_to 'delete', @order, method: :delete, 
                        data: {confirm: "Are you sure?"} %></p>

</div>