<h1>New Order</h1>

<p> <%= @greeting %> </p>
  
<p>There has been a new order placed at sweetgemshtx.com! Please see the order information below:</p>

<p>Name: <%= @order.name %></p>

<p>Email: <%= @order.email %></p>

<p>Phone: <%= @order.phone %></p>

<p>Order Details: <%= @order.details %></p>

<p>Time Placed: <%= @order.created_at %></p>

<p>Congratulations on your order!</p>
