<header class="header">
  <div class="logo-container">
    <a class="logo" href="#">
      <%= image_tag("SweetGems_FinalLogo_purple.png", :alt => "Sweet Gems", :width => 140) %>
    </a>
  </div>
  <nav class ="navbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "home", root_url %></li>
      <li class="active"><%= link_to "menu", menu_path %></li>
      <li class="active"><%= link_to "about", about_path %></li>
      <li class="active"><%= link_to "blog", blog_path %></li>
      <li class="active"><%= link_to "contact", contact_path %></li>
    </ul>
  </nav>
</header>
